* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*  border: 1px dashed RGB(100, 100, 100);
  */
}

html,
body {
  margin: 0;
  padding: 0;
  background: #29323b;
}


/* 主色(primary) #29323b */


/* 強調色(accent) #E2C0B9 */


/* 字體顏色 #333 */


/* general */

.cv {
  width: 700px;
  margin: 100px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

.cv-header,
.cv-body,
cv-footer {
  padding: 30px 50px;
}


/* cv-header */

.cv-header {
  background: #ccc;
}

.name {
  font-size: 50px;
  text-transform: uppercase;
}


/* cv-body */

.cv-body {
  background: #fff;
}

.experience {
  position: relative;
  padding-top: 30px;
  border-bottom: 1px solid #ccc
}

.experience:last-child {
  border-bottom: none;
}

.logo {
  height: 44px;
  top: 0;
  right: 0;
  position: absolute;
}


/* cv-footer */

.cv-footer {
  padding: 80px 50px;
  background: #29323b;
}

.social-link {
  width: 40px;
  height: 40px;
  display: inline-block;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  font-size: 32px;
}

.social-link:hover {
  background-color: rgba(100, 100, 100, 0.5);
}


/*
.social-link>i {
  display: inline-block;  
  width: 100%;
  height: 100%;  
}
*/

html {
  position: relative;
}

.decoration-box {
  width: 100%;
  height: 400px;
  background: #E2C0B9;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  /* 1~999, -1 is special finction */
}
